svg{ 
margin-left: 25%;
    width: 800px;
    height: 500px;
     background-color: white;
    border-style: groove;
    border: 15px solid red;
  padding: 50px;
 
}

p{
   margin-left: 40%;
    width: 200px;
    background-color: white;
  width: 400px;
  border: 10px solid red;
  padding: 10px;
 
    
}
h1{
    
     margin-left: 40%;
  width: 300px;
  border: 15px solid blue;
  padding: 40px;

    text-decoration: underline;
    
}
button{ 
    margin-left: 5%;
    border-style:double;
    height:50px;
    width:200px;
    font-size: 15px;
} 
#Button{
    background-color: aqua;
    color: black;
        border-style: groove;

     }
#Button2{ 
        background-color: blue;
    color:white;
        border-style: groove;

}

#Button3{
    background-color: aqua;
    color: black;
        border-style: groove;

     }
#Button4{ 
        background-color: blue;
    color:white;
        border-style: groove;

}
#Button5{
    background-color: aqua;
    color: blue;
    border-style: groove;
     }
#Button6{
    background-color: blue;
    color: white;
        border-style: groove;

     }

body{
background-image: url("download.jpg");
    height: 100%;
    width: 100%;
    //background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
background-color: black;}


#tooltip
{
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    pointer-events: none;
    
    font-family: sans-serif;
    font-size: 12px;
}


 